.cart{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart__sumary-content{
    background-color: #36383a28;
    width: 100%;
    max-width: 350px;
    height: 230px;
    border-radius: 0 0 8px 8px;
    margin:10px 0 50px;
}

.cart__sumary-info{
    padding: 20px;
    display: grid;
    place-items: center;
    gap: 20px;
}

.cart__sumary-content h3{
    font-size: 2.3rem;
    border-bottom: 1px solid #7a7b7c;
    padding: 18px;
    text-align: center;
}

.cart__sumary-content h4{
    font-size: 1.8rem;
    font-weight: 300;
}

/* ----------------------- Elementos-Li ----------------------  */

.cart__content{
    width: 100%;
    list-style: none;
    background-color: #36383a28;
    display: flex;
    flex-direction: column;
    height: 82vh;
    margin-top: 10px;
}

.cart__nav-head-flex,
.cart__nav-footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    box-shadow: 0 0 12px rgba(0,0,0,.15);
}

.cart_nav-butons{
    display: flex;
    flex-direction: column;
}


.cart__nav-head-flex h3,
.cart__nav-back,
.cart__nav-total,
.span-total{
    font-size: 1.8rem;
}

.cart__nav-total{
    text-align: center;
    margin-bottom: 5px;
}

.cart__nav-icon{
    font-size:2.5rem;
    cursor: pointer;
}


.span-total{
    color: #f8f9fa;
    margin-left: 8px;
    font-weight: 600;
}

.cart__nav-btn-clear,
.cart__nav-btn-checkout,
.cart__nav-btn-back{
    width: 140px;
    background-color: #343a40;
    color: #f8f9fa;
    font-size: 1.6rem;

    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.back-link{
    background-color: transparent;
    border: none;
}

.cart__nav-btn-back{
    margin-bottom: 3px;
    border: 1px solid #67696b3b;
    background-color: transparent;
    padding: 8px 20px;
}

.cart__nav-btn-checkout{
    width: 180px;
    background-color: rgb(245, 94, 67);
}

.cart__nav-btn-checkout:hover{
    background-color: rgb(235, 135, 118);
}

.cart__nav-body{
    height: 100%;
    overflow-y: scroll;
    padding: 0 8px;
}

.cart__content-empty{
    width: 100%;
    display: grid;
    place-items: center;
    gap: 20px;
}

.cart__nav-empty-cart{
    font-size: 3rem;
}



@media(min-width:750px){

    .cart{
        flex-direction: row;
        gap: 30px;
    }

    .cart__content{
        margin-bottom:30px;
    }

    .cart__nav-footer-flex{
        display: flex;
        justify-content: space-around
    }

    .cart__nav-btn-clear:hover{
        background-color: #87888a5e;
    }

    .cart__nav-body::-webkit-scrollbar{
        width: 8px;
    }
    
    .cart__nav-body::-webkit-scrollbar-thumb{
        background-color: hsla(200, 1%, 53%, 0.397);
        border-radius: 5px;
    }
    
    .cart__nav-body::-webkit-scrollbar-thumb:hover{
        background-color: hsl(240, 2%, 65%);
    }
}