.single__modal{
    position: fixed;
    z-index: 1;
    background-color: rgba(96, 99, 99, 0.733);
    left: 0;
    width: 100%;
    min-height: 100vh;
    top:0;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transition:  all 500ms ease;
}

.single__modal.show{
    opacity: 1;
    visibility: visible;
}

.single__icon{
    position: absolute;
    color: #c7c3c3;
    font-size: 3.5rem;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.single__icon:hover{
    color: rgba(245, 94, 67, 0.993);
}

.single__content{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 25px 15px;
    flex-wrap: wrap;
    background-color: #2e2b2bf1;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(146, 142, 142, 0.61);
}

.column{
    flex: 1 1 160px;
}


.single__column-rigth{
    /* flex: 0 1 180px; */
    flex: 0 1 155px;
}

.single__img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.single__category{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.single__title, .single__price{
    font-size: 2.2rem;
    font-weight: 300;
}

.single__description{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    color: #f8f9fac4;
}

.single__info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.single__content-amount{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.single__decrease, .single__increase, .single__amount{
    font-size: 1.5rem;
    font-weight: 300;
    padding: 5px 20px;
    border: 1px solid #f8f9fa67;
    background-color: transparent;
    color: #f0f1f1cb;
    cursor: pointer;
}

.single__decrease:hover,
.single__increase:hover{
    border: 1px solid rgba(245, 94, 67, 0.658);
}

.single__amount{
    width: 60px;
    border: none;
    text-align: center;
}

.single__buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.single__buttons .items__btn-add{
    border: 1px solid #f8f9fa1c;
}

.single__buttons .add{
    width: 140px;
}

.single__buttons .go-to-cart{
    width: 110px;
}


@media(min-width:750px){
    .single{
        gap: 100px;
    }

    .single__content{
        gap: 50px;
    }

    .single__column-rigth{
        flex: 0 1 330px;
    }

    .single__img{
        height: 500px;
    }

    .single__category{
        font-size: 2rem;
        margin-bottom: 15px;
    }
    
    .single__title, .single__price{
        font-size: 3.6rem;
    }
    
    .single__description{
        font-size: 2rem;
    }

    .single__info{
        gap: 30px;
    }

    .single__description{
        font-size: 2rem;
        line-height: 1.6;
    }

    .single__content-amount{
        margin: 30px 0;
        justify-content: start;
    }
    
    .single__decrease, .single__increase, .single__amount{
        font-size: 2.7rem;
        padding: 5px 20px;
    }
    
    .single__amount{
        width: 60px;
    }

    .single__buttons{
        justify-content: flex-start;
    }

    .single__buttons{
        margin-top: 30px;
    }
}

@media(min-width:1200px){
    /* redusco columnas su tamaño y que ya no ocupen todo el tamaño */
    .column {
        flex: 0 1 477px;
    }
}